{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="container-box">
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Doar</button>
    </form>
    <div class="container-box">
  
      {% if beneficiados %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Valor Doado</th>
              </tr>
            </thead>
            <tbody>
              {% for beneficiados in beneficiados %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{beneficiados.beneficiario.nome}}</td>
                <td>{{beneficiados.beneficiario.idade}}</td>
                <td>{{beneficiados.valor_doado_ao_beneficiario}}</td>
              </tr>
              {% endfor %}
      {% endif %}
    </div>
    
  
  </div>
</div>
{% endblock %}