{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Project One</a>
        </h4>
        <p class="card-text">Clique aqui para fazer uma doação.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Project Two</a>
        </h4>
        <p class="card-text">Clique aqui para ver seu histórico de doações.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
