{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">

  <div class="row">
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100">
        <a href="{% url 'donate' %}"><img class="card-img-top" src="{% static 'img/doações-novo-rumo.jpg' %}" alt=""></a>
        <div class="card-body ">
          <p class="card-text center">Clique aqui para fazer uma doação.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100">
        <a href="{% url 'historic' %}"><img class="card-img-top" src="{% static 'img/14117.jpg' %}" alt=""></a>
        <div class="card-body center">
          <p class="card-text">Clique aqui para ver seu histórico de doações.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  <div class="container">
    <div class="row">
                <div class="carousel-inner ">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'img/crowd.jpg' %}"  alt="">
                  </div>
                </div>
        <div class="col-lg-6 portfolio-item-2">
          <h1> Quem somos?</h1>
          <p>Nós somos uma startup com um único objetivo: ajudar a melhorar a educação financeira no Brasil das classes D e E. Nessa plataforma, você
            poderá não só realizar doações para essa população, mas também contribuir para
            que ela adquira uma
            <b>consciência financeira</b>.
          </p>
      
      
        </div>
        <div class="col-lg-6 portfolio-item-2">
          <h1> Como funciona?</h1>
          <p>Todas as doações são destinadas para adolescentes de comunidades de baixa renda que acabaram de concluir o ensino médio.
            Entretanto, para que eles possam ter acesso a este benefício, precisarão realizar um curso de educação financeira,
            que será fornecido por nós, e terem sido aceitos no ensino superior. Com isso, conseguimos provocar um engajamento fundamental para que eles percebam a importância do planejamento financeiro.</p>
        </div>
      </div>
  </div>

{% endif %}

{% endblock %}
