{% extends 'accounts/base_accounts.html' %}

{% block title %}Entrar para o CrowdEducation{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Entrar</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Novo ao CrowdEducation? <a href="{% url 'signup' %}">Cadastrar</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          
        </small>
      </div>
    </div>
  </div>
{% endblock %}