<!--{% load static %}-->
<!DOCTYPE html>
<!--html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Hacking Rio</title-->

    <!--link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"-->
    <!--link rel="stylesheet" href="{% static 'css/donations.css' %}"-->
<html>
<head>
<h1 style="color:black;"><center>Quem Somos</center></h1>
</head>
<body>
  <br>
</br>
<br>
</br>
<br>
</br>
    <!--header class="border rounded-bottom">
        <div class="container">
            <div class="row">
                <div class="col-auto">

                </div>
            </div>
        </div>
    </header>
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock body %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock script %}-->



<p><center>Nós somos uma startup com uma única funcão: ajudar a melhorar a educação financeira no Brasil. Nessa plataforma,
   você poderá ajudar a população mais carente do país, mas não é só isso: através dela, você também estará contribuindo
   para que ele adquira <b>consciência financeira</b>. Cada beneficiário, para ter direito à doação, deverá participar
    de um curso voltado para como planejar sua renda no futuro. </center></p>


</body>
</html>
