{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-6 portfolio-item">
          <p>Nosso público-alvo são os adolescentes das comunidades de baixa renda que acabaram de concluir o ensino médio.
             Vivendo em comunidades precárias, qualquer tipo de auxílio dado para eles já tem um grande impacto. </p>
          <p>É importante ressaltar
             os efeitos positivos que decorreriam do interesse dessa comunidade em adquirir uma educação financeira,
             tanto para a melhoria do seu futuro quanto de suas futuras gerações, que também se beneficiariam com
             esse conhecimento passado.
         </p>
  </div>

  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://fw.atarde.uol.com.br/2015/06/650x375_saramandaia--moradia_1525662.jpg" alt=""></a>
    </div>
  </div>
</div>

{% endblock %}
