/* 
.navbar-brand {
  font-family: 'Peralta', cursive;
} */

body {
  background-color: #fff;
  color: #455d7a;
}

p {
	text-align: justify;
}

.container-box { 
  margin-top: 8%;
}

.portfolio-item {
  margin-top: 15%;
  margin-bottom: 25%;
}

.portfolio-item-2 {
  margin-top: 10%;
}

footer {
  bottom:0;
  position:absolute;
  width:100%;
}

.bg-color {
  background-color: #fff;
  color: #455d7a;
}