/* 
.navbar-brand {
  font-family: 'Peralta', cursive;
} */

body {
  background-color: #fff;
  color: #455d7a;
}

.container-box { 
  margin-top: 8%;
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('staticfiles/img/w8ldgb27j4g8sw0wc.jpg}') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.portfolio-item {
  margin-top: 15%;
  margin-bottom: 25%;
}

footer {
  bottom:0;
  position:absolute;
  width:100%;
}

.bg-color {
  background-color: #fff;
  color: #455d7a;
}